<div>
  <img style="float: right;" class="d-block w-25" src="http://localhost:4200/assets/image13.jpg">
  <img style="float: right;" class="d-block w-25" src="http://localhost:4200/assets/image16.jpg">
  <img style="float: right;" class="d-block w-25" src="http://localhost:4200/assets/image17.jpg">
  <img style="float: right;" class="d-block w-25" src="http://localhost:4200/assets/image20.jpg">
</div>
<div class="row text-center">
  <div class="col-lg-4 col-md-18 mb-4">
    <mdb-card style="width: 500px;margin-right: 500px;margin-top: 50px">
      <mdb-card-body>
        <h2 class="font-weight-bold deep-orange-lighter-hover mb-3">ארגון {{Company_show.name}}</h2>
        <p class="brown-lighter-hover">כאן יהיה באפשרותך לטפל בכל ניהול הנתונים שבחברה, בהוספת טלפניות חדשות לחברה
          בצפייה , בתרומות כלליות של חודש זה, ובתרומות בכלל, בהוספת לידים לחברה, כון חילוקם לכל הטלפביות באופן שווהו וכן
          בעריכת הלידים. בצפייה בשיחות שעל הטלפניות לבצע וכן שכבר ביצעו ועוד.</p>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>