<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap"></div>
<div class="container" style="margin-right: 500px;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">שכחת סיסמא?</h2>
            <p>אתה יכול לאפס את הסיסמא שלך כאן.</p>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                <div class="form-group" *ngIf="degel1==1">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input [(ngModel)]="mail" id="email" name="email" placeholder="כתובת המייל שלך" class="form-control"
                      type="email">
                  </div>
                </div>

                <div class="form-group" *ngIf="degel1==1">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input [(ngModel)]="name" id="name1" name="name1" placeholder="שם מלא" class="form-control"
                      type="text">
                  </div>
                </div>

                <div class="form-group" *ngIf="degel1==2">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input [(ngModel)]="passW" id="email" name="email" placeholder="הכנס סיסמא זמנית"
                      class="form-control" type="text">
                  </div>
                </div>


                <div class="form-group" *ngIf="degel1==3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input [(ngModel)]="pass1" id="email" name="email" placeholder="הכנס סיסמא לבחירתך"
                      class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group" *ngIf="degel1==3">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input [(ngModel)]="pass2" id="email" name="email" placeholder="הכנס סיסמא לאימות"
                      class="form-control" type="password">
                  </div>
                </div>

                <div *ngIf="degel1==1" class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" (click)="send()"
                    value="שלח סיסמא זמנית" type="submit">
                </div>
                <div *ngIf="degel1==2" class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" (click)="sendPass()"
                    value="אפס סיסמא" type="submit">
                </div>
                <div *ngIf="degel1==3" class="form-group">

                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block" (click)="sendPass()"
                    value="שמור סיסמא" type="submit">
                </div>
                <input type="hidden" class="hide" name="token" id="token" value="">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>