<!-- Carousel Wrapper -->

<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">

  <!-- Slides -->
  <div class="carousel-inner smooth-scroll" role="listbox" style="padding-left: 500;">

    <!-- First slide -->
    <div class="carousel-item active" >
      <!-- Mask -->
      <div class="view">
        <div class="flex-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="http://localhost:4200/assets/istockphoto-962284586-612x612.jpg"
                  class="img-fluid z-depth-2 rounded" alt="1">
              </div>
              <div class="col-lg-6">
                <div class="ml-xl-1">
                  <div style="width: 200px;">

                    <h2 style="width: 20px; margin-top: 20px;" class="display-4 font-weight-bold text-uppercase mb-4">
                      TelInfo</h2>
                    <p data-offset="50" class="btn btn-wood btn-lg-font mx-0 mb-3 mb-md-5 mb-lg-0">מרכזייה טלפונית</p>
                  </div>

                  <div class="card card-bottom w-75 z-depth-2">

                    <div class="card-body py-md-10">
                      <h2 class="font-weight-bold mt-4">טלמרקטין מערכות- מידע<br>CRM</h2>
                      <p class="text-muted mb-md-5">*עקוב כדי לקבל עדכונים</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mask -->
    </div>
    <!-- First slide -->

  </div>
  <!-- Slides -->



</div>
<!-- Carousel Wrapper -->

<!-- Navigation -->

<!-- Main layout -->











<main>

  <!-- Section: About -->
  <section id="about" class="my-5 pt-5">

    <div class="container">

      <div class="row">

        <div class="col-lg-5">
z
          <h2 class="h1 font-weight-bold text-uppercase mb-4">TelInfo</h2>
          <p align="justify" class="lead font-weight-normal mb-4">אנו בחברת Telinfo מציעים לך מערכות מידע בענן, מערכות
            CRM בענן, מערכות בענן ואת כל מה שאתה צריך על מנת לייעל ולהצמיח את הארגון שלך, בין אם אתה עסק, ארגון מגזר
            שלישי או תאגיד גדול. איתנו אין לך צורך בהתקנת תוכנה או חומרה מיוחדים, העלויות נמוכות ובזריזות תוכל לראות את
            השפעה החיובית על העסק או הארגון שלך.

          </p>

        </div>

        <div class="col-lg-7">
          <img src="http://localhost:4200/assets/D123.jpg" class="img-fluid z-depth-2 rounded" alt="1">

        </div>

      </div>

    </div>

  </section>
  <!-- Section: About -->

  <body>
    <div style="text-align:right ;margin-left: 135px; margin-right: 135px; margin-bottom: 100px;">
      <div id="x1" class="one">
        <h2 class="title" style="height:150px; font-size: 30px;"> ניהול התרומות
        </h2>
        <div class="info" style="height: 600px;">
          <h3 class="infoTitle">מערכת CRM לניהול תהליך גיוס תרומות הכוללת: </h3>
          <p>
            ניהול תורמים, תורמים פוטנציאליים ואנשי קשר.
            ניהול כרטיס תורם עם כלל האינטראקציות איתו, ורשימת התרומות שלו.
            ניהול תרומות עם תאריך וסכום הבקשה, ההבטחה לתרומה והסכום שנתרם בפועל.
            ניהול פרויקטי תרומה עם יעד הגיוס ועם שיוך לתרומות.
            תצוגת סיכום תרומות לפי חודשים סך הבקשות, ההבטחות והתרומות פר חודש וסך שנתי. </p>
        </div>
      </div>
      <div id="x2" class="one">
        <h2 class="title" style="height:150px; font-size: 30px;">חסכון בזמן הטלפן\נית
        </h2>
        <div class="info" style="height: 600px;">
          <h3 class="infoTitle">חסכון בזמן הטלפנית</h3>
          <p class="infoText">במערכת זו יתרון גדול ביותר הדוגל בשיטה של ניצול זמן העובדים בחברה, העובד בחברה לא צריך
            לחשבן מתי כדאי לקבוע שיחות עם הלקוחות אלא המערכת מספקת זו בצורה אוטומטית על ידי ניתוח מלל, ניתוח טקסט
            הטלפן..</p>
        </div>
      </div>
      <div id="x3" class="one">
        <h2 class="title" style="height:150px; font-size: 30px;">מעקב שיחות</h2>
        <div class="info" style="height: 600px;">
          <h3 class="infoTitle">קביעת שיחות אוטומטתי</h3>
          <p class="infoText">במהלך עבודתם של עובדי החברה ההרשומים בחברתכם , ניתנת אפשרות ביד העובדים
            לעקוב בשלל השיחות שהתבצעו ושלא היתבצעו עם התורם, כמו כן קביעת השיחה הבאה עם התורם תינתן אף בידי המערכת עם
            אישור הטלפנית למועד השיחה. כמויצירת קשר בזמן המתאים ביותר
            עם התורם לפי סכומי התרומות שתורם., כל זאת בצורה אוטומטתית בידי המערכת של TELINFO. , </p>
        </div>
      </div>
      <div id="x4" class="one">
        <h2 class="title" style="height: 150px; font-size: 30px;">מעקב עובדים</h2>
        <div class="info" style="height: 600px;">
          <h3 class="infoTitle">אפשרות צפיית עבודת עובדים</h3>
          <p class="infoText">כמו כן, כאמור כל מנהל חברה או עסק היה רוצה לראות במוחש את עבודת עובדיו שתחתיו , כאן ב-
            TELINFO מנהל החברה יוכל לצפות בכל תוצאות העבודה שבחברה בשיחות עובדים, בתרומותיהם שעשו פר חודש ובכלל ועוד
            לתוכנה יכולות מתקדמות לשפר את הקשר בין העמותה לתורמים ניתן לקלוט מאגרי תורמים ופרטי תרומות קודמות.</p>
        </div>
      </div>
      <div id="x5" class="one">
        <h2 class="title" style="height:150px; font-size: 30px;">ניהול מאגר התורמים</h2>
        <div class="info" style="height: 600px;">
          <h3 class="infoTitle">מאגרי תורמים</h3>
          <p class="infoText">ניהול נכון ויעיל של מאגר התורמים הינו הבסיס לעבודה נכונה ופורייה של כל מוקד התרמה.

            יש חשיבות רבה לפנייה לתורם במועד הנכון מבחינתנו ומבחינתו, ופנייה מדויקת תביא לתוצאות משופרות

            . יצירת קמפיין התרמה נכון מתבססת על הקצאת הלקוחות המתאימים בהתאם להיסטוריית הפעילות הכוללת של התורם מול
            העמותה, בהתחשב בתרומות קודמות, במועד סיום החיוב עבור תרומות קודמות ובפניות קודמות


          </p>
        </div>
      </div>
    </div>

  </body>

  <div style="width: 80%; height: auto; margin: auto; padding-bottom: 50px; margin-top: 100px; "
    class="example z-depth-5">

    <h2 class="h1-responsive font-weight-bold text-center my-5" style="padding-top: 100px">מערכת CRM לניהול גיוס כספים
      ותרומות</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">אנו בחברת פריזה מציעים לך מערכות מידע בענן, מערכות CRM
      בענן, מערכות בענן ואת כל מה שאתה צריך על מנת לייעל ולהצמיח את הארגון שלך, בין אם אתה עסק, ארגון מגזר שלישי או
      תאגיד גדול. איתנו אין לך צורך בהתקנת תוכנה או חומרה מיוחדים, העלויות נמוכות ובזריזות תוכל לראות את השפעה החיובית
      על העסק או הארגון שלך.</p>

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="column-2 px-2 mb-r">
        <div style="margin-top: 50px;width: auto;height: auto; " style="margin-right:150px; ">
          <!--Card-->
          <div class="card default-color-dark" style="width: 800px; margin: auto;" class="backg3">
            <!--Card image-->
            <div class="view">
              <img src="http://localhost:4200/assets/F123.jpg" class="card-img-top" alt="photo" style="height: 400px;">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title white-text">ניהול מאגר תורמים</h4>
              <!--Text-->
              <p class="card-text white-text"> ניהול נכון ויעיל של מאגר התורמים הינו הבסיס לעבודה נכונה ופורייה של כל
                מוקד התרמה.

                יש חשיבות רבה לפנייה לתורם במועד הנכון מבחינתנו ומבחינתו, ופנייה מדויקת תביא לתוצאות משופרות

                יצירת קמפיין התרמה נכון מתבססת על הקצאת הלקוחות המתאימים בהתאם להיסטוריית הפעילות הכוללת של התורם מול
                העמותה, בהתחשב בתרומות קודמות, במועד סיום החיוב עבור תרומות קודמות ובפניות קודמות שלנו אל התורם

                לתוכנה יכולות מתקדמות של איתור כפילויות ואיחוד כרטיסי תורמים אשר חוסכות שיחות מיותרות ומאפשרות לשפר את
                הקשר בין העמותה לתורמים

                ניתן לקלוט מאגרי תורמים ופרטי תרומות קודמות
                .</p>
              <!-- <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
            </div>
          </div>









          <div style="margin-top: 50px;">

            <div class="card default-color-dark" style="width: 800px;" class="backg4">

              <!--Card image-->
              <div class="view">
                <img src="http://localhost:4200/assets/image1.jpg" class="card-img-top" alt="photo"
                  style="height: 400px;">
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body text-center" style=" margin-top: 50x;">
                <!--Title-->
                <h4 class="card-title white-text">טלמרקטינג התרמה יוצא</h4>
                <!--Text-->
                <p class="card-text white-text"> יצירת רשימת לקוחות לקמפיין טלמרקטינג בהתאם למטרת הפניה לתורם. יצירת
                  קמפיין חידוש תרומה לדוגמא, יתבסס על תאריך ביצוע התרומה האחרונה, תאריך סיום תשלום אחרון, וכן מתי הייתה
                  הפעם האחרונה שפנינו ללקוח ותשובתו. כל הנתונים הללו קיימים בתוכנה ומאפשרים יצירת קמפיינים ממוקדים
                  ומדוייקים, אשר יסייעו להפקת תוצאות משופרות

                  מנהל המוקד יכול לשלוט באופן הקצאת הלקוחות לטלפנים, וכן באופן העבודה של כל טלפן. כך ניתן לשייך טלפנים
                  לקמפיין מסויים, או רשימת קמפיינים בהתאם לנדרש, ולקבוע עבור כל טלפן האם מותר לו לדפדף ברשימת הלקוחות,
                  או שהוא חייב לסיים טיפול הלקוח הנוכחי לפני מעבר ללקוח הבא.

                  ממשק עבודה ידידותי לטלפנים מאפשר רישום תשובת הלקוח, קביעת תזכורות, ביצוע תרומה, ואף תאום מועד פגישה עם
                  גובה במידת הצורך.
                </p>
                <!-- <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
              </div>
            </div>
          </div>







          <!--/.Card-->
          <div class="card default-color-dark" style="width: 800px; margin-top: 50px; " class="backg2">

            <!--Card image-->
            <div class="view">
              <img src="http://localhost:4200/assets/image11.jpg" class="card-img-top" alt="photo"
                style="height: 400px;">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title white-text">מערכת מידע אוטומטית</h4>
              <!--Text-->
              <p class="card-text white-text"> במהלך עבודתם של עובדי החברה ההרשומים בחברתכם , ניתנת אפשרות ביד העובדים
                לעקוב בשלל השיחות שהתבצעו ושלא היתבצעו עם התורם, כמו כן קביעת השיחה הבאה עם התורם תינתן אף בידי המערכת
                עם אישור הטלפנית למועד השיחה. כמויצירת קשר בזמן המתאים ביותר
                עם התורם לפי סכומי התרומות שתורם., כל זאת בצורה אוטומטתית בידי המערכת של TELINFO. ,
              </p>
              <!-- <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
            </div>
          </div>
          <!--/.Card-->


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <ul class="list-unstyled" style="margin-top: 150px;">
        <li class="media" style="width:800px; margin-right: 200px;">
          <img class="d-flex mr-3" src="http://localhost:4200/assets/8c051fd54e4c811e02bbc78d50549280.jpeg"
            alt="Generic placeholder image" style="margin-left: 50px; margin-left: 70px;">
          <div class="media-body" style="text-align: right;  ">
            <h5 class="mt-0 mb-2 font-weight-bold">לירון דנינו</h5>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <p>לפני כשנה חברתנו החלה לעבוד עם מערכת ניהול קריאות שירות של חברת TelInfo . השירות אותו אנו מקבלים הינו
              מקצועי , אמין, זמין ומהיר. אנו שבעי רצון ממוצר אותו אנו מקבלים ממליצים בחום על התקשרות עימה. .</p>
          </div>
        </li>
        <li class="media my-4" style="width:800px; margin-right: 200px;">
          <img class="d-flex mr-3" src="http://localhost:4200/assets/avatar-2.jpg" alt="Generic placeholder image"
            style="margin-left: 50px; margin-left: 70px;">
          <div class="media-body" style="text-align: right;  ">
            <h5 class="mt-0 mb-2 font-weight-bold">יוסף אזולאי</h5>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
            <p>אנחנו רואים בחברת TelInfo שותף רצינו , מבין וקשוב לצורכי הלקוח בתהליך ההתרמה והביצע המקצועי של הפרוייקט
              וכמובן קשוב ומגיב בזמן ומהר .</p>
          </div>
        </li>
        <li class="media" style="width:800px; margin-right: 200px; margin-top: 50px;">
          <img class="d-flex mr-3" src="http://localhost:4200/assets/avatar-4.jpg" alt="Generic placeholder image "
            style="margin-left: 50px; margin-left: 70px;">
          <div class="media-body" style="text-align: right;  ">
            <h5 class="mt-0 mb-2 font-weight-bold">אברהם דניאל</h5>
            <!--Review-->
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
            <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
            <p>מז מספר חודשים אנו עושים שימוש חברה ביויקי במערכת ניול תרומות של חברה TelInfo . כלי ניהול מאגרי התורמים
              המתקדמים והשירות המקצועי אשפרו לנו לצמוח ולשפר בצורה משמעותית את השירות אותו אנו מספקים ללקוחותינו..</p>
          </div>
        </li>
      </ul>
    </div>